name: Update Documentation

on:
  workflow_call:
    inputs:
      template-path:
        required: true
        type: string

      output-path:
        required: true
        type: string

      template-branch:
        required: false
        type: string
        default: docs

      output-branch:
        required: false
        type: string
        default: docs-build

    secrets:
      GH_TOKEN:
        required: true

jobs:
  docs:
    uses: codeshelldev/gh-actions/.github/workflows/templating.yml@main
    name: Docs
    with:
      template: ${{ inputs.template-path }}
      output: ${{ inputs.output-path }}
      recursive: true
      source: ${{ inputs.template }}
      push: false
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}

  sync:
    name: Sync to ${{ inputs.output-branch }} branch
    runs-on: ubuntu-latest
    needs: docs

    steps:
      - name: Checkout ${{ inputs.template-branch }} branch
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.template-branch }}
          fetch-depth: 0

      - name: Prepare ${{ inputs.output-branch }} branch
        run: |
          echo "Syncing contents of '${{ inputs.output-path }}' to branch '${{ inputs.output-branch }}'"

          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          if git ls-remote --exit-code origin "$BRANCH" >/dev/null 2>&1; then
            echo "Branch ${{ inputs.output-branch }} exists. Fetching..."
            git fetch origin ${{ inputs.output-branch }}
            git switch ${{ inputs.output-branch }}
          else
            echo "Branch ${{ inputs.output-branch }} does not exist. Creating..."
            git switch --orphan ${{ inputs.output-branch }}
            git rm -rf .
          fi

          # Copy the newly generated output to this branch
          rsync -a --delete ../${{ inputs.output-path }}/ ./${{ inputs.output-path }}/

          # Stage only the output folder
          git add ${{ inputs.output-path }}

          # Commit and push only if there are changes
          if git diff --cached --quiet; then
            echo "No changes to commit."
          else
            git commit -m "Update ${{ inputs.output-path }}"
            git push -f origin HEAD:${{ inputs.output-branch }}
          fi
