name: Update Documentation

on:
  workflow_call:
    inputs:
      template-path:
        required: true
        type: string
        default: docs/

      output-path:
        required: true
        type: string
        default: docs/

    secrets:
      GH_TOKEN:
        required: true

jobs:
  docs:
    uses: codeshelldev/gh-actions/.github/workflows/templating.yml@main
    name: Docs
    with:
      template: ${{ inputs.template-path }}
      output: ${{ inputs.output-path }}
      recursive: true
      source: ${{ inputs.template }}
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
