name: Update Documentation

on:
  workflow_call:
    inputs:
      template-path:
        required: true
        type: string

      output-path:
        required: true
        type: string

      template-branch:
        required: false
        type: string
        default: docs

      output-branch:
        required: false
        type: string
        default: docs-build

    secrets:
      GH_TOKEN:
        required: true

jobs:
  docs:
    uses: codeshelldev/gh-actions/.github/workflows/templating.yml@main
    name: Docs
    with:
      template: ${{ inputs.template-path }}
      output: ${{ inputs.output-path }}
      recursive: true
      source: ${{ inputs.template }}
      push: false
      artifact: docs-output
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}

  sync:
    name: Sync to ${{ inputs.output-branch }} branch
    runs-on: ubuntu-latest
    needs: docs

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}

      - name: Download templated output
        uses: actions/download-artifact@v4
        with:
          ref: ${{ inputs.template-branch }}
          name: docs-output
          path: ${{ inputs.output-path }}

      - name: Prepare & Commit changes
        env:
          BRANCH: ${{ inputs.output-branch }}
        run: |
          echo "Syncing '${{ inputs.output-path }}' to '${{ inputs.output-branch }}'"

          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          # Fetch remote branches
          git fetch origin

          # Check if branch exists remotely
          if git ls-remote --exit-code origin "$BRANCH" >/dev/null 2>&1; then
            echo "Branch $BRANCH exists. Switching..."
            git switch $BRANCH
          else
            echo "Branch $BRANCH does not exist. Creating new orphan branch..."
            git switch --orphan $BRANCH
            git rm -rf . || true
          fi

          # Sync artifact into this branch
          echo "Copying templated output..."
          rsync -a --delete ${{ inputs.output-path }}/ ./${{ inputs.output-path }}/

          git add ${{ inputs.output-path }}
          if git diff --cached --quiet; then
            echo "No changes to commit."
          else
            git commit -m "Update ${{ inputs.output-path }}"
            git push -f origin HEAD:$BRANCH
          fi
