name: Update Documentation

on:
  workflow_call:
    inputs:
      template:
        required: false
        type: string
        default: docs-src/

      output:
        required: false
        type: string
        default: docs/

    secrets:
      GH_TOKEN:
        required: true

jobs:
  docs:
    uses: codeshelldev/gh-actions/.github/workflows/templating.yml@main
    name: Docs
    with:
      template: ${{ inputs.template }}
      output: ${{ inputs.output }}
      recursive: true
      source: ${{ inputs.template }}
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
