name: Update Docs

on:
  workflow_call:
    inputs:
      template:
        required: false
        type: string
        default: .github/templates/docs/

      output:
        required: false
        type: string
        default: "*"

    secrets:
      GH_TOKEN:
        required: true

jobs:
  docs:
    uses: codeshelldev/gh-actions/.github/workflows/templating.yml@main
    name: Docs
    with:
      template: ${{ inputs.template }}
      output: ${{ inputs.output }}
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
