name: Build & Release Go

on:
  workflow_call:
    inputs:
      platforms:
        required: false
        type: string
        default: linux/amd64, linux/arm64

      go-version:
        required: false
        type: string
        default: "1.25.x"

    secrets:
      GH_TOKEN:
        required: true
        
jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ inputs.go-version }}
          check-latest: true

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install dependencies
        run: go mod tidy

      - name: Run Go test
        run: go test ./... -v

      - name: Cross-Compile Go binaries
        run: |
          platforms="${{ inputs.platforms }}"
          repo_name="${{ github.event.repository_name }}"

          IFS=', ' read -ra platforms <<< "$platforms"

          for platform in "${platforms[@]}"; do
              IFS='/' read -ra platformData <<< "$platform"

              os="${platformData[0]}"
              arch="${platformData[1]}"

              path="dist/${repo_name}-$os-$arch"

              mkdir -p "$(dirname "$path")"

              echo "Created $path"

              GOOS="$os" GOARCH="$arch" CGO_ENABLED=0 go build -ldflags="-w -s" -o "$path" .

              echo "Built Binaries for $os/$arch"
          done

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: go-binaries
          path: dist/*

  release:
    name: Release
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: go-binaries
          path: dist

      - name: Attach binaries to release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.GH_TOKEN }}
          files: dist/*
          tag_name: ${{ github.event.release.tag_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
