name: Update README

on:
  workflow_call:
    inputs:
      template:
        required: false
        type: string
        default: .github/templates/README.template.md

      output:
        required: false
        type: string
        default: README.md

      output-branch:
        required: false
        type: string
        default: ""

    secrets:
      GH_TOKEN:
        required: true

jobs:
  readme:
    uses: codeshelldev/gh-actions/.github/workflows/templating.yml@main
    name: Readme
    with:
      template: ${{ inputs.template }}
      output: ${{ inputs.output }}
      push-branch: ${{ inputs.output-branch }}
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
